/* .content {
   margin-top: 38rem;
}

.top-text h4 {
   text-align: center;
   margin-bottom: -20px;
   font-size: 30px;
   font-weight: 700;
}


.android-pic img {
   width: 896px;
   
   margin-top: 2rem;

}

.explore-pic img {

   margin-top: 2rem;
   width: 190px;
   height: 56px;

}

.explore-pic {
   display: flex;
   justify-content: center;
}

.carousel-indicators {
   position: absolute;
}


@media only screen and (max-width: 1440px) {

   .content {
      margin-top: 42rem;
   }

   .top-text h4 {
      margin-top: -17rem;
      font-size: 30px;
   }

   .android-pic img {
      width: 896px;
      margin-left: 6rem;
   }

}

@media only screen and (max-width: 1024px) {

   .content {
      margin-top: 0rem;
   }

   .top-text h4 {
      margin-top: 9rem;
      font-size: 25px;
   }
}


@media only screen and (max-width: 768px) {

   .content {
      margin-top: 17rem;
   }

   .top-text h4 {
      margin-top: -15rem;
      font-size: 20px;
   }
}

@media only screen and (max-width: 425px) {

   .content {
      margin-top: 3rem;
   }

   .top-text h4 {
      color: black;
      font-size: 17px;
      font-weight: 700;
      margin-top: -5rem;
   }

   .explore-pic img {
      margin-top: 2rem;
      width: 50px;
      height: auto;
      cursor: pointer;
   }

   .android-pic img {
      width: 100%;
      margin-left: 0;
   }
}

@media only screen and (max-width: 375px) {

   .content {
      margin-top: 3rem;
   }

   .top-text h4 {
      color: black;
      font-size: 17px;
      font-weight: 700;
      margin-top: -5rem;
   }

   .explore-pic img {
      margin-top: 2rem;
      width: 50px;
      height: auto;
   }

   .android-pic img {
      width: 100%;
      margin-left: 0;
   }

}

@media only screen and (max-width: 320px) {

   .content {
      margin-top: 3rem;
   }

   .top-text h4 {
      color: black;
      font-size: 17px;
      font-weight: 700;
      margin-top: -7rem;
   }

   .explore-pic img {
      margin-top: 2rem;
      width: 50px;
      height: auto;
   }

   .android-pic img {
      width: 100%;
      margin-left: 0;
   }
} */





.slideshow {
	margin: 0 auto;
	margin-top: 10rem;
	height: auto;
	width: 100%;
	box-sizing: border-box;
   /* background: url('../Images/preview.png'); */
   background-repeat: no-repeat;
   background-size: cover;
   
   height: 400px;
   position: relative;
   
   
}

.slideshow p{
   text-align: center;
   font-size: 30px;
   font-weight: 700;
}
.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 40s infinite linear;
	transform-style: preserve-3d;
   
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 5px solid #3b444b;
	overflow: hidden;
	position: absolute;
   border-radius: 10px;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 5s;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 5s;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
















