 /* .footer {
    background-image: url('../Images/maps.png');
    margin-top: -3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-head {
    color: black;
    height: 300px;
    line-height: 15px;
    margin-top: 6rem;
}

.foot-head h3 {
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.foot-paragraph {

    text-align: center;
}

.foot-head-part {
    font-weight: 700;
    text-align: center;
}

.foot-head p {
    color: black;
    font-weight: 600;
    text-align: center;
}

.foot-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon-footer img {
    width: 33px;
    height: 33px;
    text-align: center;

}

.card-icon-footer img:hover {
    width: 33px;
    height: 33px;
    text-align: center;
    background-color: blue;
    border-radius: 50%;
}
.project-section img{
    width: 0px;
}



@media only screen and (max-width: 1440px) {
    .foot-head h3 {
        font-weight: 700;
        font-size: x-large;
        text-align: center;
    }

    .foot-head-mid h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: 0rem;
    }
    .foot-head {
        color: black;
        height: 300px;
        line-height: 15px;
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 1024px) {
    .foot-head h3 {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .foot-head-mid h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: 0rem;
    }
    .foot-head {
        color: black;
        height: 300px;
        line-height: 15px;
        margin-top: 6rem;
    }
}


@media only screen and (max-width: 768px) {
    .foot-head h3 {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }

    .foot-head-mid h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: 0rem;
    }
    .foot-head {
        color: black;
        height: 300px;
        line-height: 15px;
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 425px) {

    .foot-head h3 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }

    .foot-paragraph {
        font-size: 10px;
        text-align: center;
    }

    .foot-head {
        color: black;
        
        line-height: 15px;
        
    }
}

@media only screen and (max-width: 375px) {

    .foot-head h3 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }

    .foot-paragraph {
        font-size: 10px;
        text-align: center;
    }
    .foot-head {
        color: black;
        
        line-height: 15px;
    
    }
}

@media only screen and (max-width: 320px) {

    .foot-head h3 {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }

    .foot-paragraph {
        font-size: 10px;
        text-align: center;
    }
    .foot-head {
        color: black;
        
        
    
    }

}  */





.footer {
    background: #222;
    padding: 0 20px 10px 20px;
    border-top: 4px solid #4f8db3;
    margin-top: 20px;
   
    background-image: url('../Images/maps.png');
  }
  
  .footer h3 {
    color: black;
    font-size: 1.3em;
    
  }
  
  .footer ul {
    padding: 5;
    list-style: none;
    
  }
  
  .footer-navigate-section li {
    line-height: 20px !important;
    margin-top: 1rem;
  }
  
  .footer-stay-connected a {
    text-align: left;
    text-indent: -9999px;
    color:black;
    display: block;
    width: 100%;
    height: 40px;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    transition: opacity .25s linear;
  }
  
  .footer-stay-connected a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  
  .footer-stay-connected a.facebook {
    background-position: -115px 0;
  }
  
  .footer-stay-connected a.twitter {
    background-position: -230px 0;
  }
  
  .footer-stay-connected a.googleplus {
    background-position: 0 0;
  }
  
  .footer-stay-connected li {
    text-align: center;
  }
  
  .footer-copyright {
    text-align: center;
    color: black;
    border-top: 1px dotted #7C7C7C;
    padding-top: 10px;
    font-size: 0.9em;
  }  











  


 
  

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#007bff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}















