 .carousel-dev {
     min-height: 100vh;
     display: grid;
     place-items: center;

 }

 .slider-page {
     height: 500px;
     margin: auto;
     position: relative;
     width: 90%;
     display: grid;
     place-items: center;
     overflow: hidden;
     margin-top: 3rem;
 }

 .slide-track-dev {
     display: flex;
     width: calc(250px *18);
     animation: scroll 40s linear infinite;

 }

 .slide-track-dev:hover {
     animation-play-state: paused;

 }

 @keyframes scroll {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(calc(-250px *9));
     }
 }

 .top-slide {
     height: 200px;
     width: 250px;
     display: flex;
     align-items: center;
     padding: 15px;
     perspective: 100px;
     margin-left: 3rem;

 }

 img {

     width: 255px;
     transition: transform 1s;

 }

 img:hover {
     transform: translateZ(20px);

 }

 .card-area h2 {
     text-align: center;
     margin-top: 2rem;

 }

 .card-area p {
     text-align: center;
     font-weight: 700;
     padding: 1rem;
     font-size: 12px;
     margin-top: 1rem;
 }

 .card-area {
     border: 2px dashed black;
     border-radius: 20px;
     width: 265px;
     padding: 3px;
     height: 500px;

 }

 .vertical-card img {
     height: 29px;
     width: 205px;
     margin-left: 24px;
     margin-top: 1rem;
 }

 .slider-page::before,
 .slider-page::after {
     background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,
             rgba(255, 255, 255, 0)100%);
     content: '';
     height: 100%;
     position: absolute;
     /* width: 15%; */
     z-index: 2;
 }

 .slider-page::before {
     left: 0;
     top: 0;
 }

 .slider-page::after {
     right: 0;
     top: 0;
     transform: rotateZ('180deg');

 }

 .slider-text h4 {
     margin-top: 3rem;
     font-size: 30px;
     font-weight: 700;

 }

 .vertical-card h6 {
     text-align: center;
     margin-top: 2rem;
     font-size: 22px;
     font-weight: 700;
 }




 @media only screen and (max-width: 1440px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;

     }

     img {

         width: 255px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 265px;
         padding: 3px;
         height: 500px;

     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: 1rem;
         font-size: 12px;
         margin-top: 1rem;
     }

     .vertical-card img {
         height: 29px;
         width: 205px;
         margin-left: 24px;
         margin-top: 1rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: 2rem;
         font-size: 22px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: 3rem;
     }

     .slider-text h4 {
         margin-top: 3rem;
         font-size: 30px;
         font-weight: 700;

     }

 }

 @media only screen and (max-width: 1024px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;

     }

     img {

         width: 255px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 265px;
         padding: 3px;
         height: 500px;

     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: 1rem;
         font-size: 12px;
         margin-top: 1rem;
     }

     .vertical-card img {
         height: 29px;
         width: 205px;
         margin-left: 24px;
         margin-top: 1rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: 2rem;
         font-size: 22px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: 3rem;
     }

     .slider-text h4 {
         margin-top: 3rem;
         font-size: 30px;
         font-weight: 700;

     }

 }


 @media only screen and (max-width: 768px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;

     }

     img {

         width: 255px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 265px;
         padding: 3px;
         height: 500px;
         margin-top: 0rem;

     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: 1rem;
         font-size: 12px;
         margin-top: 1rem;
     }

     .vertical-card img {
         height: 29px;
         width: 205px;
         margin-left: 24px;
         margin-top: 1rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: 2rem;
         font-size: 22px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: -1rem;
     }

     .slider-text h4 {
         margin-top: 3rem;
         font-size: 30px;
         font-weight: 700;

     }

 }

 @media only screen and (max-width: 425px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;

     }

     img {

         width: 197px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 207px;
         padding: 3px;
         height: 350px;
         margin-left: 2rem;
         margin-top: 9rem;
         

     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: .5rem;
         font-size: 10px;
         margin-top: 0rem;
     }

     .vertical-card img {
         height: 22px;
         width: 170px;
         margin-left: 15px;
         margin-top: 0rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: .5rem;
         font-size: 12px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: -9rem;
     }

     .slider-text h4 {
         margin-top: -5rem;
         font-size: 15px;
         font-weight: 700;
         margin-top: 2rem;

     }
 }



 @media only screen and (max-width: 375px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;
         margin-top: -4rem;

     }

     img {

         width: 197px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 207px;
         padding: 3px;
         height: 350px;
         
         margin-left: .5rem;

     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: .5rem;
         font-size: 10px;
         margin-top: 0rem;
     }

     .vertical-card img {
         height: 22px;
         width: 170px;
         margin-left: 15px;
         margin-top: 0rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: .5rem;
         font-size: 12px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: -9rem;
     }

     .slider-text h4 {
         margin-top: 5rem;
         font-size: 15px;
         font-weight: 700;

     }
 }


 @media only screen and (max-width: 320px) {
     .carousel-dev {
         min-height: 100vh;
         display: grid;
         place-items: center;

     }

     img {

         width: 197px;
         transition: transform 1s;
     }

     .card-area {
         border: 2px dashed black;
         border-radius: 20px;
         width: 207px;
         padding: 3px;
         height: 350px;
         margin-left: -1.5rem;
         
     }

     .card-area p {
         text-align: center;
         font-weight: 700;
         padding: .5rem;
         font-size: 10px;
         margin-top: 0rem;
     }

     .vertical-card img {
         height: 22px;
         width: 170px;
         margin-left: 15px;
         margin-top: 0rem;
     }

     .vertical-card h6 {
         text-align: center;
         margin-top: .5rem;
         font-size: 12px;
         font-weight: 700;
     }

     .slider-page {
         margin-top: -9rem;
     }

     .slider-text h4 {
         margin-top: 5rem;
         font-size: 15px;
         font-weight: 700;

     }
 }